<div class="my-3 mx-auto">
  <span class="text-danger"><%= code %></span>
  <span class="text-muted">
    - <%= statusMessage %>
    <% for (const item of errorOptions) { %>
        - <%= item %>
    <% } %> 
  </span>
</div>